@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');
body{
    background-color: aliceblue;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.container{
    min-height: 70vh;
    background-color: black;
    font-family: 'VarelaRound' , sans-serif;
    color: white;
    display: flex;
    width: 80%;
    margin: 25px auto;
    border-radius: 12px;
    /* padding: 10px; */
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icons{
    margin-top: 15px;
}
.icons i{
    cursor: pointer;
}
#myprogressBar{
    width: 75vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 30px;
}
.songItem{
    border: 1px solid lightgray;
    width: 35vw;
    height: 40px;
    display: flex;
    background-color:transparent;
    color:white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 38px;
    margin: 0 12px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 12vw;
    font-family: 'VarelaRound' , sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

